{{ extend $.env( "templates" ) + "html/base.tmpl" }}

{{ block title }}
<title>Envjs Release</title>
{{ /block }}

{{ block main }}
<div id='release'>
    <h3><a href='${ $.env("root")+"releases" }'>&lt; releases</a></h3>
    
    {{ if admin }}
    <div style='clear:both;text-align:center;'>
        <span class="ss_sprite  ss_add">
            <a href='${ $.env( "root" ) + "admin/add/releases/" }'>
                Add entry
            </a>
            <br/>
            <a id='show_deleted'
               href='#show/deleted'>
               show deleted entries
            </a>
            <span> | </span>
            <a id='hide_deleted'
               href='#hide/deleted'>
               hide deleted entries
            </a>
        </span>
    </div>
    {{ /if }}
    
    <div class='first column span-5 colborder'>
        <h4>${ release.name }</h4>
        <h5>
            <a href='${ $.env("root") + "doc/guides" }'>
                Getting Started
            </a>
        </h5>
        <h5>
            <a href='${ $.env("root") + "doc/apis" }'>
                API
            </a>
        </h5>
        <em>Release</em><br/>
        <span>Envjs ${ release.$id }</span> 
    </div>
     
    <div id='cover' 
         class='column span-6 colborder'>
        <h6>Everything</h6>
            <a href='${ release.zip }'>
                <img 
                    src='${ $.env("root") + "images/zip.jpg" }'
                    alt='zip'
                    height='70px'
                />
            </a>
            <a href='${ release.tar }'>
                <img 
                    src='${ $.env("root") + "images/tar.jpg" }'
                    alt='tar'
                    height='70px'
                />
            </a>
    </div>
    <div id='media' 
         class='column span-9'>
        <h6>All you need.</h6>
        <ol class='clear'>
            {{ each distributables }}
            <li>
                <a href='${ this.url }'>
                    <strong>${ this.label }</strong>
                </a>
                <img src='/images/icon-green-50px.jpg' height='30px'/>
                <br/>
                {{ html this.description }}
            </li>
            {{ /each }}
        </ol>
        
    </div>
    
    <div id='description' class=' span-22'>
        <div class='column prepend-2 span-12'>
            {{ html $.creole(release.description) }}
        </div>
            <div class='column span-7' style='margin-top:30px;'>
                <hr/>
                <ul>
                    {{ each release.notes }}
                        <li> ${ this } </li>
                    {{ /each }}
                </ul>
            </div>
    </div>
</div>
{{ /block }}