{{ extend $.env( "templates" ) + "html/base.tmpl" }}

{{ block title }}
<title>Envjs Releases</title>
{{ /block }}

{{ block main }}
<div id='releases'>
    <h3>releases</h3>
    <div class='first column span-23'>
        <ul>
        {{ each releases }}
            <li>
                <div class='span-4 prepend-1 column'>
                    <a href='${ $.env("root")+"release/"+this.$id }'>
                        <strong>${ this.name }</strong>
                    </a>
                    <img src='/images/icon-green-50px.jpg' height='30px'/>
                </div>
                <div class='last column span-14' >
                    {{ html $.creole(this.description) }}
                </div>
                <hr/>
            </li>
        {{ /each }}
        </ul>
    </div>
</div>
{{ /block }}
